.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Background, #F6F6F6);
    padding-top: 39px;
    padding-bottom: 57px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 58px 0 42px;
}

p {
    margin: 16px 34px 27px 34px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button {
    border-radius: 25px;
    background-color: #9356DC;
    color: white;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    padding: 13px 19px;
    text-decoration: none;
    transition: transform 1000ms;

    &:hover {
       opacity: 0.80;
       box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}