.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-three;
    padding: 39px 0 57px 0;

    @media only screen and (min-width: 768px) {
        padding: 30px 0 30px 0;
    }

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin: 0 58px 0 42px;
        text-align: center;

        @media only screen and (min-width: 768px) {
            font-size: 40px;
            font-weight: 700;
        }
    }

    p {
        margin: 16px 34px 27px 34px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button {
    border-radius: 25px;
    color: $color-three;
    background: linear-gradient(193deg, $color-primary -11.44%, $color-secondary 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    padding: 13px 19px;
    text-decoration: none;
    transition: transform 1000ms;

    &:hover {
        opacity: 0.80;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}