.container-price {
    display: flex;
}

.my-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    background-color: $color-tertiaire;
    border-radius: 0 15px 15px 0;
    margin-right: -59px;
    font-size: x-large;


    &:hover {
        animation: my-favorite 3s 100ms;
    }

    .fa-check {
        background-color: $color-three;
        color: $color-tertiaire;
        border-radius: 25px;
        font-size: 16px;
        padding: 6px;
    }
}

.carte-restaurant:hover .my-favorite {
    transition: all 1s;
    margin-right: 0px;
}

// ********* LOADER******


.loader-body {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    animation-name: loader;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    pointer-events: none;
    background-color: $color-three;
    

}

// $loader quart de cercle

.loader {
    vertical-align: -380px;
    position: relative;
    color: $color-tertiaire;
    font-family: Shrikhand;
    font-size: 22px;
    height: 500px;
    line-height: 500px;
    
}

.loader-quart {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 6px solid rgba($color: $color-three, $alpha: 0.4);
    position: relative;
    vertical-align: -380px;
}

.loader-quart:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $color-tertiaire;
    animation: spin 1s linear .5S infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}